*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

body{
    min-height: 100vh;
    background-color: var(--dark-navy);
    line-height: 1.5;
}

html{
    scrollbar-width: thin;
    scrollbar-color: var(--background-color);
}

/* Root Variables */
:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --error-txt: #d93025;

    --font-size-lg: clamp(3rem, 8vw, 7rem);
    --font-size-md: clamp(2rem, 5vw, 4rem);
    --font-weight-lg: 600;
    
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;

    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;

    --padding-lg: 1.25em 1.75em;

    
   
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;

}

/* General Styling */
.container {
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 0 .5em;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1em 0;
    font-size: 100px;
    font-weight: 600;
}

.section-title, .section-paragraph{
    padding: 0 2%;
    text-align: center;
}

.section-title{
    font-size: 2.5rem;
    border-right: 3px solid var(--lightest-slate);
    margin-bottom: 1em;
    color: var(--light-slate);
}


button{
    padding: var(--padding-lg);
    letter-spacing: .1em;
    line-height: 1;
    margin-top: .2em;
    cursor: pointer;
    background-color: transparent;
    color: var(--green);
    border-radius: var(--border-radius);
    border: 1px solid var(--green);
    transition: var(--transition);
}

a {
    color: inherit;
    text-decoration: none;
}

p{
    margin-bottom: 2em;
    font-size: clamp(.3rem, 3vw, 1.2rem);
    color: var(--slate);
}

/*End of general styling */

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

/* Initially hide elements */
.greeting,
.name-title,
.role-title,
.hero-paragraph,
.hero-button {
    opacity: 0; /* Initially hidden */
}

/* Apply fadeIn animation with a staggered effect */
.greeting.animate-hero {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s;
}

.name-title.animate-hero {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.4s;
}

.role-title.animate-hero {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.6s;
}

.hero-paragraph.animate-hero {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.8s;
}

.hero-button.animate-hero {
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}


.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* End of animations */


/* Navbar styling */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 10%;
    z-index: 1000;
    background-color: transparent;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: 0 2px 10px var(--lightest-navy);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    color: var(--green);
    font-weight: var(--font-weight-lg);
    font-size: 1.5em;
}

.navbar a{
    color: var(--lightest-slate);
    margin-left: 2em;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--green);
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    color: var(--green);
}

.icons #close-icon{
    display: none;
}

/* End of navbar styling */

/* Hero Styling */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.hero .greeting{
    font-size: 1.5rem;
    color: var(--green);
}

.name-title{
    font-size: var(--font-size-lg);
    color: var(--lightest-slate);
}

.role-title{
    font-size: var(--font-size-md);
    color: var(--light-slate);
}

.hero-paragraph{
    max-width: 100%;
}
/* End of hero styling */

/* About Styling */
.about-content{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about-image{
    position: relative;
    max-width: 5em;
}

.about-image-resize{
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
}
/* End of about styling */

/* Projects Styling */
.project-list {
    display: block;
    margin-top: 1em
}

.project {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-bottom: 1.5em;
}

.project-content{
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.project-image-container{
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
    border: 1px solid var(--green);
    padding: 1em;
}

.image-link{
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
}

.image-link img{
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.project:nth-child(even) .project-content {
    grid-column: 1 / 7; 
    text-align: left; 
    justify-self: start; 
}

.project:nth-child(even) .project-links{
    justify-content: start;
}



.project:nth-child(even) .project-image-container {
    grid-column: 7 / -1; 
    border: 1px solid var(--green);
    padding: 1em;
}


.project:nth-child(odd) .project-content {
    grid-column: 7 / -1; 
    text-align: right; 
    justify-self: end;
}

.project:nth-child(odd) .project-image-container {
    grid-column: 1 / 7; 
    border: 1px solid var(--green);
    padding: 1em;
}

.project:nth-child(odd) .project-tech, .project-links{
    justify-content: end;
}

.project-title {
    font-size: var(--fz-lg);
    color: var(--lightest-slate);
}

.project-title{
    font-size: var(--fz-lg);
    color: var(--lightest-slate);
}
.project-tech, .project-links{
    font-size: var(--fz-lg);
    color: var(--light-slate);
    display: flex;
    gap: 1.2em;
}
/* End of projects styling */

/* Contact Styling */
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--light-slate);
}

.contact form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

form{
    margin-top: .5em;
}

.input-box{
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    flex-wrap: nowrap;
    gap: .2em;
}


.input-box label, .textarea-field label {
    font-size: 1.2rem;
    margin-bottom: .7em;
}

.input-field{
    display: flex;
    flex-direction: column; 
    color: var(--light-slate);
}

.input-box .input-field{
    width: 48.5%;
}

.textarea-field{
    width: 100%;
    margin-top: -1em;
    margin-bottom: 1em;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--green);
    outline: none;
    border-radius: 6;
    color: var(--light-slate);
}

.field.error .item {
    border-color: var(--error-txt);
}

.field.error .error-txt{
    display: block;
}

.field .item::placeholder{
    color: var(--green-tint);
}

form{
    padding: .1em 2%;
}

form .textarea-field .item{
    resize: none;
}

form button{
    margin-top: -5.5em;
}



.field .error-txt{
    color: var(--error-txt);
    text-align: end;
    margin-top: .7em;
    display: none;
    font-size: 1rem;
}



/* End of contact styling */




/* BREAKPOINTS */
@media (max-width: 992px) {
    .header{
        padding: 1.3em 5%;
    }

}

@media (max-width: 768px) {
    section{
        padding: 0 .5em;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(2em);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease-in-out;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5em 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease-in-out;
        opacity: 0;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }

    /* Hero section */
    .hero{
        justify-content: start;
        padding-top: 3em;
        margin-bottom: -2em;
    }

    .hero-paragraph{
        max-width: 100%;
    }
    /* End of hero section */

    /* About section */
     .about-content {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }


    .about-image-resize {
        max-width: 100%;
    }
    /* End of about section */

    /* Projects section */
    .project-list{
        width: 100%;
    }
    .project {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        text-align: center; 
        width: 100%;
    }

   
    .project-image-container {
        order: 1;
        width: 100%;
    }

   
    .project-content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* End of projects section */

    /* Contact section */
    .input-box{
        flex-wrap: wrap;
    }

    .input-box .input-field{
        width: 100%;

    }
    .input-field{
        margin-bottom: .3em;
    }
    .textarea-field{
        margin-top: -1.5em;
    }
    /* End oc contact section */
}